.app {
  background-color: rgb(228, 223, 216);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  margin: 0 auto;
}
.app__table {
 flex: 0 1 100%;
 display: flex;
 justify-content: center;
}
.app__body {
  max-width: 800px;
  flex: 0 1 100%;
  background-color: rgb(245, 248, 252);
  border-radius: 30px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.app__header {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.app__buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.app__button {
  background-color: rgb(222 224 249);
  padding: 4px 10px;
  color: rgb(77, 81, 85);
  border-radius: 5px;
}
.app__button:hover {
  background-color: rgb(233 234 247);
  transition: all 0.2s linear 0s;
}
.app__list {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  padding: 0 10px;
  row-gap: 10px;
}
.posts__post {
  padding: 5px 10px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;

}
.posts__title {
  text-transform: capitalize;
}
.app__table-wrapp {
  flex: 0 1 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
}
.app__label {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding-right: 10px;
  column-gap: 4px;
}
.app__input {
  background-color: rgb(247, 247, 247);
  max-width: 200px;
  flex: 0 0 100%;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 2px;
}
.app__name:first-child {
  max-width: 2px;
  text-align: left;
}
.app__name:nth-child(2) {
  text-align: center;
}